{% extends 'SyliusWebBundle:Frontend:layout_home.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import list %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid4 %}

{% block container %}
<div class="container-fluid" style='background: url("{{ asset('bundles/syliusweb/img/' ~ app.request.locale ~ '_' ~ app.request.get('permalink') ~'.jpg') }}") no-repeat scroll center top #988799; float:left; width:100%;margin:176px auto 0;'>

	<div class="container" id="container_contenu_home" style="margin-top:290px;">
      {% block topbar %}
    <ol class="breadcrumb">
	  <li><a href="/">Accueil</a></li><li><span>{{ taxon.parent.name }}</span></li><li><span>{{ taxon.name }}</span></li>
	</ol>
	{% endblock %}
        <div class="row nopadding">
			{% block content %}
			<div class="page-header">
			    <h1>{{ 'sylius.product.index_by_taxon_header'|trans({'%taxon%': taxon.name})|raw }}</h1>
			</div>
			
			{{ pagination(products) }}
			{# list(products) #}
			{{ grid4(products) }}
			{{ pagination(products) }}
			
			{% endblock %}
		</div>
	</div>

</div>

{% endblock %}