<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title"><span class='glyphicon glyphicon-list'></span> {{ 'sylius.frontend.menu.main.promotion'|trans }}</h2>
  </div>
  <div class="panel-body">
    <ul>
	    {% for product in products %}
	        <li  style="position:relative;">
	            <a href="{{ path(product) }}" class="btn btn-link popup_a">
	                <img class="thumbnail" src="{{ product.image ? product.image.path|imagine_filter('sylius_small') : 'http://placehold.it/50x40' }}" alt="{{ product.name }}" />
	                <h6>{{ product.name }}</h6>
	                <p class="small" style="width:0px;"><b>{{ 'sylius.frontend.product.weight'|trans }}</b> {{ product.masterVariant.weight }} g<br>
				{% for attribute in product.attributes %}
                	<b>{{ attribute.presentation }} :</b> {{ attribute.value }}
                {% endfor %}</p>
	            </a>
	            {% for taxon in product.taxons %}
		{% if taxon.getPermalink()|split('/')[1] == 'top-des-ventes' %}
			<img src="{{ asset('bundles/syliusweb/img/top-des-ventes.png') }}" alt="Asia 06" style="position:absolute; top:1px;left:1px;" />
		{% elseif taxon.getPermalink()|split('/')[1] == 'toutes-nos-nouveautes' %}
			<img src="{{ asset('bundles/syliusweb/img/toutes-nos-nouveautes.png') }}" alt="Asia 06" style="position:absolute; top:1px;left:1px;" />
		{% elseif taxon.getPermalink()|split('/')[1] == '50' %}
			<img src="{{ asset('bundles/syliusweb/img/50.png') }}" alt="Asia 06" style="position:absolute; top:1px;left:1px;" />
			
		{% elseif taxon.getPermalink()|split('/')[1] == '70' %}
			<img src="{{ asset('bundles/syliusweb/img/70.png') }}" alt="Asia 06" style="position:absolute; top:1px;left:1px;" />
			
		{% elseif taxon.getPermalink()|split('/')[1] == '30' %}
			<img src="{{ asset('bundles/syliusweb/img/30.png') }}" alt="Asia 06" style="position:absolute; top:1px;left:1px;" />
		{% else %}
	
		{% endif %}
	{% endfor %}
	        </li>
	        
	    {% endfor %}
	</ul>
  </div>
</div>