{% set beginning_of_month = start_at %}
{% set ending_of_month = end_at %}

{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'AcmeWebBundle:Backend/Period:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.locale.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}

<div id="calendar">
<table width="100%" border=2 style="table-layout: fixed;" class="fixed-width monthly" id="planning_table">
<thead>
    <tr>
      <th class="week_th"></th>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
      <th>Samedi</th>
      <th>Dimanche</th>
    </tr>
</thead>
<tbody>
    <tr id="nothing-0">
    {% set week_number = beginning_of_month|date("Y-m-d")|weeknumber %}
    {% set echo_week_number = 'S' ~ week_number %}
    {% set started_at_position = beginning_of_month|date("Y-m-d")|cwday %}
    {% set get_first_day = '-'~(started_at_position - 1)~' days' %}
    {% set date = beginning_of_month|date("Y-m-d") %}
    {% set date_before = beginning_of_month|date_modify(get_first_day)|date("Y-m-d") %}
    	<td class="week_td" style="vertical-align: center;">
                {{echo_week_number}}
        </td>
		{% if started_at_position != 1 %}
        {% for i in 1..started_at_position-1 %}
    	<td bgcolor="#736B6B" height="150" abbr="-" rel="{{ path(app.request.attributes.get('_route'))~'new' }}" id="{{i}}" class="click_td">
			<p class="day_number">{{ date_before|date("d") }}</p>
		</td>
		{% set date_before = date_before|date_modify("+1 day")|date("Y-m-d") %}
		{% endfor %}
		{% endif %}
		{% for i in started_at_position..7 %}
		<td height="150" abbr="-" rel="{{ path(app.request.attributes.get('_route'))~'new' }}" id="{{i}}"  class="click_td">
			<p class="day_number">{{ date|date("d") }}</p>
		</td>
      	{% set date = date|date_modify("+1 day")|date("Y-m-d") %}
      	{% endfor %}
    </tr>
    
    
    {% for i in 1..4 if date|date_modify("+7 day")|date("Y-m-d") <= ending_of_month|date("Y-m-d") %}
    {% set wnumber = date|date("Y-m-d")|weeknumber %}
    {% set echo_wnumber = 'S' ~ wnumber %}
    <tr id="nothing-0">
        <td class="week_td">
                {{echo_wnumber}}
        </td>
        {% for i in 1..7 %}
        	<td height="150" abbr="-" rel="{{ path(app.request.attributes.get('_route'))~'new' }}" id ="" class="click_td">
        		<p class="day_number">{{ date|date("d") }}</p>
        		<ul class='list-unstyled'>
				  {% for c in listecreneaus %}
				  	{% if c.performedAt|date('Y-m-d') == date|date('Y-m-d')%}
				    <li class="alert label-primary">{{ c.performedAt|date('Y-m-d') }}<br>place reste: {{c.capacite}}<br>place pris: {{c.reserve}}</li>
				    {% endif %}
				  {% endfor %}
				</ul>
        		
        		
        	</td>
        	{% set date = date|date_modify("+1 day")|date("Y-m-d") %}
        {% endfor %}
    </tr>
    {% endfor %}
    
    {% set fwnumber = date|date("Y-m-d")|weeknumber %}
    {% set echo_fwnumber = 'S' ~ fwnumber %}
    <tr id="nothing-0">
        <td class="week_td">
                {{echo_fwnumber}}
        </td>
        
        {% for i in 1..7 %}
        	{% if date|date("Y-m-d") <= ending_of_month|date("Y-m-d") %}
        		<td height="150" abbr="-" rel="{{ path(app.request.attributes.get('_route'))~'new' }}" id="" class="click_td">
        		<p class="day_number">{{ date|date("d") }}</p>
		      		<ul class='list-unstyled'>
				  {% for c in listecreneaus %}
				  	{% if c.performedAt|date('Y-m-d') == date|date('Y-m-d')%}
				    <li class="alert label-primary">{{ c.performedAt|date('Y-m-d') }}<br>place reste: {{c.capacite}}<br>place pris: {{c.reserve}}  par {% for s in c.shipments %} {{s.id}} {% endfor %}</li>
				    {% endif %}
				  {% endfor %}
				</ul>
		      	</td>
        	{% else %}
        		<td bgcolor="#736B6B" height="150" abbr="-" rel="{{ path(app.request.attributes.get('_route'))~'new' }}" id="" class="click_td">
        		<p class="day_number">{{ date|date("d") }}</p>
        		<ul class='list-unstyled'>
				  {% for c in listecreneaus %}
				  	{% if c.performedAt|date('Y-m-d') == date|date('Y-m-d')%}
				    <li class="alert label-primary">{{ c.performedAt|date('Y-m-d') }}<br>place reste: {{c.capacite}}<br>place pris: {{c.reserve}}</li>
				    {% endif %}
				  {% endfor %}
				</ul>
        		</td>
        	{% endif %}
        {% set date = date|date_modify("+1 day")|date("Y-m-d") %}
        {% endfor %}
    </tr>
    
</tbody>
</table>
</div>
{% include 'AcmePeriodBundle::form-modal.html.twig' %}
{% endblock %}

{% block javascripts %}
            {{ parent() }}
			{% javascripts output='assets/compiled/backend.js'
                '@AcmePeriodBundle/Resources/assets/js/plannings.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
{% endblock %}
