{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_collapsed %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
{% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
{{ parent() }}
{% endblock textarea_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set type = type|default('text') %}

    {% if 'file' == type %}
        <span class="btn-primary btn-lg file-overlay"><i class="icon-folder-open"></i> {{ 'sylius.form.choose_file'|trans }}</span>
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ ' control-label'}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{% block money_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">{{ money_pattern|replace({'{{ widget }}': ''}) }}</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock money_widget %}

{% block percent_widget %}
{% spaceless %}
    <div class="input-group">
        <span class="input-group-addon">%</span>
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div class="form-group">
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {{ '{{ year }} / {{ month }} / {{ day }}'|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ month }}': form_widget(form.month, {'attr': {'style': 'display: inline; width: 100px;'}}),
            '{{ day }}':   form_widget(form.day, {'attr': {'style': 'display: inline; width: 100px;'}}),
            })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1, 'style': 'width: 60px; display: inline;' }} : {} %}
        &nbsp;{{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %} {{ form_widget(form.second, vars) }}{% endif %}
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        <div class="col-lg-12">
        {{ form_widget(form) }}
        {% for error in errors %}
            <span class="help-block form-error">
                {{
                    error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            </span>
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block sylius_shipping_method_choice_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class='row'>
            {% for child in form %}
            {% set div_id = 'method_id_'~shipment_category_ids[child.vars.value] %}
                <div id='{{div_id}}' class='method_option col-md-4'>
                    <label{% for attrname, attrvalue in child.vars.label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        
                        {% if 'Livraison' in child.vars.label|trans({}, translation_domain) %}
                        {# if cart.total < 5000 #}
					    {#	<i><span class="glyphicon glyphicon-info-sign"></span> {{ 'sylius.frontend.panier.less50'|trans }}</i>#}
					    {# else #}
					    	{{ form_widget(child, { 'attr': {'class': 'shipping_method'} }) }}
					    {# endif #}
                        
                        {{ child.vars.label|trans({}, translation_domain) }}<br>
                        	<img src="{{ asset('bundles/syliusweb/img/picto_livraison_n.png') }}" />
                        	<br>
                        	{# if cart.total >= 5000 #}
	                        {% if shipping_costs[child.vars.value] is defined %}
		                        <span class="pull-right text-muted">{{ shipping_costs[child.vars.value]|sylius_price }}</span>
		                    {% endif %}
		                    {# endif #}
                        {% else %}
                        {{ form_widget(child, { 'attr': {'class': 'shipping_method'} }) }}
                        {{ child.vars.label|trans({}, translation_domain) }}<br>
                        	<img src="{{ asset('bundles/syliusweb/img/picto_retraitMagasin.png') }}" />
                        	<br>
	                        {% if shipping_costs[child.vars.value] is defined %}
		                        <span class="pull-right text-muted">{{ shipping_costs[child.vars.value]|sylius_price }}</span>
		                    {% endif %}
                        {% endif %}
                        
                    </label>
                </div>
            {% endfor %}
        </div>
       
            {% for child in form %}
            {% set table_id = 'address_table_'~shipment_category_ids[child.vars.value] %}
                {% if shipment_method_types[child.vars.value] == '1' %}
                	
                	<table width="90%" border=2 style="table-layout: fixed;display:none;" class="fixed-width weekly address_table" id="{{table_id}}">
	                	<thead>
	                		<tr>
	                		<th><p><b><span class="glyphicon glyphicon-map-marker"></span>  {{ 'sylius.frontend.shipping.retrait.title'|trans }}</b></p></th>
	                		<th><p><b><span class="glyphicon glyphicon-file"></span>  {{ 'sylius.frontend.shipping.retrait.address_bill'|trans }}</b></p></th></tr>
	                	</thead>
	                	<tbody>
	                	<tr><td>
						{% include 'SyliusWebBundle:Frontend/Address:_show.html.twig' with {'address': magasin} %}
						</td><td>
	                	{% include 'SyliusWebBundle:Frontend/Address:_show.html.twig' with {'address': app.user.billingAddress} %}
	                	</td></tr>
	                	</tbody>
	                </table>
                {% else %}
                	<table width="90%" border=2 style="table-layout: fixed;display:none;" class="fixed-width weekly address_table" id="{{table_id}}">
	                	<thead>
	                		<tr>
	                		<th><p><b><span class="glyphicon glyphicon-plane"></span>  {{ 'sylius.frontend.shipping.livraison.address_ship'|trans }}</b></p></th>
	                		<th><p><b><span class="glyphicon glyphicon-file"></span>  {{ 'sylius.frontend.shipping.livraison.address_bill'|trans }}</b></p></th></tr>
	                	</thead>
	                	<tbody>
	                	<tr><td>
						{% include 'SyliusWebBundle:Frontend/Address:_show.html.twig' with {'address': app.user.shippingAddress} %}
						</td><td>
	                	{% include 'SyliusWebBundle:Frontend/Address:_show.html.twig' with {'address': app.user.billingAddress} %}
	                	</td></tr>
	                	</tbody>
	                </table>
                {% endif %}
            {% endfor %}
    {% endspaceless %}
{% endblock %}

{% block sylius_shipping_creneau_choice_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="btn-group" data-toggle="buttons">
        {% for key,value in shipment_method_types %}
        {% set message_id = 'planning_message_'~key%}
        	{% if not value %}
        		<p id="{{message_id}}" style="display:none;"><b><span class="glyphicon glyphicon-time"></span>  {{ 'sylius.frontend.shipping.livraison.creneautitle'|trans }}</b><br><i>{{ 'sylius.frontend.shipping.livraison.description'|trans }}</i></p>
        	{% else %}
        		<p id="{{message_id}}" style="display:none;"><b><span class="glyphicon glyphicon-time"></span>  {{ 'sylius.frontend.shipping.retrait.creneautitle'|trans }}</b><br><i>{{ 'sylius.frontend.shipping.retrait.description'|trans }}</i></p>
        	{% endif %}
        {% endfor %}
        {% for key, table in creneau_tables %}
        	{% set table_id = 'planning_table_'~key%}
        	<table width="100%" border=2 style="table-layout: fixed; display:none;" class="fixed-width weekly" id="{{table_id}}">
				<thead>
				    <tr>
				    	<th class="week_th"></th>
				    	<th class="week_th">{{ 'now' | localizeddate('full', 'none')|split(' ')[0] }}<br> {{ "now"|date("d/m") }}</th>
				    	{% for i in 1..6 %}
				    		<th class="week_th">{{ "now"|date("Y-m-d")|date_modify("+"~i~" day") | localizeddate('full', 'none')|split(' ')[0] }} <br>{{ "now"|date("Y-m-d")|date_modify("+"~i~" day")|date("d/m") }}</th>
				        {% endfor %}
				    </tr>
				</thead>
				<tbody>
					{% for key, value in table %}
						<tr>
							<td class="creneau_td">{{key|replace({ (':'): 'h' })|replace({ ('-'): ' / ' }) }}</td>
							<td>
								{% for child in form %}
									{% if child.vars.label == value["now"|date("d/m/Y")]|default('') %}
										{% if shipment_creneau_valide[child.vars.value] %}
											{% set time_creneau = key|split('-')[1]|split(':')[0] %}
											{% set time_now = 'now' | localizeddate('none', 'short')|split(':')[0] %}
											{% if time_now < time_creneau %}
												<label class="btn btn-primary">{{ form_widget(child, { 'attr': {'autocomplete': 'off'} }) }}{{ 'sylius.frontend.shipping.active'|trans }}</label>
											{% else %}
												<label class="btn btn-primary disabled">{{ form_widget(child, { 'attr': {'autocomplete': 'off'} }) }}{{ 'sylius.frontend.shipping.disabled'|trans }}</label>
											{% endif %}
										{% else %}
											<label class="btn btn-primary disabled">{{ form_widget(child, { 'attr': {'autocomplete': 'off'} }) }}{{ 'sylius.frontend.shipping.disabled'|trans }}</label>
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>
							{% for i in 1..6 %}
				    		<td>
				    			{% for child in form %}
									{% if child.vars.label == value["now"|date("Y-m-d")|date_modify("+"~i~" day")|date("d/m/Y")]|default('') %}
										{% if shipment_creneau_valide[child.vars.value] %}
											<label class="btn btn-primary">{{ form_widget(child, { 'attr': {'autocomplete': 'off'} }) }}{{ 'sylius.frontend.shipping.active'|trans }}</label>
										{% else %}
											<label class="btn btn-primary disabled">{{ form_widget(child, { 'attr': {'autocomplete': 'off'} }) }}{{ 'sylius.frontend.shipping.disabled'|trans }}</label>
										{% endif %}
									{% endif %}
								{% endfor %}
					        </td>
					        {% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
        {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{#
{% block radio_widget %}
{% spaceless %}
    <label  for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
{% endspaceless %}
{% endblock radio_widget %}

#}