{% extends 'SyliusWebBundle::knp_menu.html.twig' %}

{% block label %}
   {% if item.labelAttribute('text') %}{{ item.labelAttribute('text') }}{% endif %}
    {% if not item.labelAttribute('iconOnly') %}
        {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|trans|raw }}{% else %}{{ item.label|trans }}{% endif %}
    {% endif %}
    
    {% if item.labelAttribute('cart_item_count')  %}
        <br><span id="cart_items_span" style="line-height:2;">{{ item.labelAttribute('cart_item_count') }} 
    {% endif %}
    
    {% if item.labelAttribute('cart_total_amount') %}
    	| <span id="cart_total_amount">{{ item.labelAttribute('cart_total_amount') }}</span></span>
    {% endif %}
    
    
    {% if item.labelAttribute('data-image') %}<img src="{{ item.labelAttribute('data-image')|imagine_filter('sylius_small') }}" alt="{{ item.name }}" class="menu-thumbnail"/>{% endif %}
{% endblock %}
