<div class="panel panel-warning">
  <div class="panel-heading">
    <h2 class="panel-title"><span class='glyphicon glyphicon-calendar'></span> {{ 'sylius.frontend.planning.title'|trans }}</h2>
  </div>
  <div class="panel-body">
    
    <div class="row planning_row">
    	<div class="col-md-3">
    		<img src='{{ asset('/bundles/syliusweb/img/picto_retrait.png') }}' />
    	</div>
    	
    	<div class="col-md-9">
    		<h5>{{ 'sylius.frontend.planning.drive'|trans }}</h5>
    		<a href="{{ path('sylius_creneau')}}?m=d" class="popup_a_creneau">{{ 'sylius.frontend.planning.c_tarif'|trans }}</a>
    	</div>
    </div>
    <hr>
    <div class="row planning_row">
    	<div class="col-md-3">
    		<img src='{{ asset('/bundles/syliusweb/img/picto_livraisonDomicile.png') }}' />
    	</div>
    	
    	<div class="col-md-9">
    		<h5>{{ 'sylius.frontend.planning.livraison'|trans }}</h5>
    		<a href="{{ path('sylius_creneau')}}?m=l" class="popup_a_creneau">{{ 'sylius.frontend.planning.c_tarif'|trans }}</a>
    	</div>
    </div>
  </div>
</div>