{% extends 'SyliusWebBundle:Frontend:layout_home.html.twig' %}

{% block container %}
<div class="container-fluid">
	{{ sonata_block_render({'name': '/cms/blocks/slide01_' ~ sylius_locale}) }}
</div>

<div class="container" id="container_contenu_home">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
				<br>
				<h2 class="title"><span class='glyphicon glyphicon-th'></span> {{ 'sylius.frontend.homepage.banteau_1'|trans }}</h2>
				
				<ul class="nav nav-tabs" role="tablist" id="myTab">
				  <li role="presentation" class="active"><a href="#nos_selections" aria-controls="nos_selections" role="tab" data-toggle="tab">{{ 'sylius.frontend.menu.sous_topic.nos_select'|trans }}</a></li>
				  <li role="presentation"><a href="#promotions" aria-controls="promotions" role="tab" data-toggle="tab">{{ 'sylius.frontend.menu.main.promotion'|trans }}</a></li>
				  <li role="presentation"><a href="#top_ventes" aria-controls="top_ventes" role="tab" data-toggle="tab">{{ 'sylius.frontend.menu.sous_topic.top_vente'|trans }}</a></li>
				  <li role="presentation"><a href="#new_products" aria-controls="new_products" role="tab" data-toggle="tab">{{ 'sylius.frontend.menu.sous_topic.new_product'|trans }}</a></li>
				  
				</ul>
				
				<div class="tab-content padding-top5">
				  <div role="tabpanel" class="tab-pane active" id="nos_selections">{{ render(url('sylius_partial_product_latest', {'limit': 12, 'template': 'SyliusWebBundle:Frontend/Product:latest.html.twig'})) }}</div>
				  <div role="tabpanel" class="tab-pane" id="promotions">{# render(url('sylius_partial_product_promotions')) #}</div>
				  <div role="tabpanel" class="tab-pane" id="top_ventes">{# render(url('sylius_partial_product_top_ventes')) #}</div>
				  <div role="tabpanel" class="tab-pane" id="new_products">{# render(url('sylius_partial_product_new_products')) #}</div>
				  
				</div>
			
				
				
                {% endblock %}
            </div>
        
            <div class="col-md-4" id="sidebar">
            	<br>
                {% block sidebar %}
                

                {# include 'SyliusSearchBundle::filter_form.html.twig' #}
				{% include 'AcmeWebBundle::planning.html.twig' %}
                {# render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) #}
                <div class="panel panel-warning">
				  <div class="panel-heading">
				    <h2 class="panel-title"><span class="glyphicon glyphicon-heart"></span> {{ 'sylius.frontend.avantage.title'|trans }}</h2>
				  </div>
				  <div class="panel-body">
				    
				    <div class="row planning_row">
				    	<div class="col-md-3">
				    		<img src="/bundles/syliusweb/img/logo_euro.png">
				    	</div>
				    	
				    	<div class="col-md-9">
				    		<h5>{{ 'sylius.frontend.avantage.service3'|trans }}</h5>
				    		<p class="small">{{ 'sylius.frontend.avantage.service4'|trans }}</p>
				    	</div>
				    </div>
				    <hr>
				    <div class="row planning_row">
				    	<div class="col-md-3">
				    		<img src="/bundles/syliusweb/img/logo_pouce.png">
				    	</div>
				    	
				    	<div class="col-md-9">
				    		<h5>{{ 'sylius.frontend.avantage.service1'|trans }}</h5>
				    		<p class="small">{{ 'sylius.frontend.avantage.service2'|trans }}</p>
				    	</div>
				    </div>
				  </div>
				</div>
                
                {{ render(url('sylius_partial_product_promotions5')) }}
                
                
                {% endblock %}
            </div>
            
        </div>
        <div class="container row">
        	<h2 class="title"><span class='glyphicon glyphicon-gift'></span> {{ 'sylius.frontend.homepage.banteau_2'|trans }}</h2>
        	{% for i in 1..3 %}
                <div class="col-md-4">
                    {{ sonata_block_render({'name': '/cms/blocks/resto-'~sylius_locale~'-'~i}) }}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="container row">
        	<h2 class="title"><span class='glyphicon glyphicon-cutlery'></span> {{ 'sylius.frontend.homepage.banteau_3'|trans }}</h2>
        	<div class="col-md-3">
                    {{ sonata_block_render({'name': '/cms/blocks/recettes-'~sylius_locale}) }}
            </div>
            <div class="col-md-9">
        		{{ render(url('sylius_partial_recette_latest', {'limit': 3, 'template': 'SyliusWebBundle:Frontend/Recette:latest.html.twig'})) }}
        	</div>
        </div>
        <br>
</div>
{% endblock %}