<h1>Welcome to second step</h1>

<form method="post" action="{{ path('sylius_flow_forward', {'scenarioAlias': 'acme_inscription','stepName': 'addressing'}) }}" class="form-horizontal" novalidate>

{{ form_errors(addressing_form) }}
{{dump(user_data)}}
<fieldset>
    <div class="row">
        <div class="col-md-6 address-container">
            <div class="well">
                <h4>{{ 'acme.order.shipping_address'|trans }}</h4>
                {% include 'AcmeInscriptionBundle:Process/Form:_address.html.twig' with {'form': addressing_form.shippingAddress, 'user_data': user_data} %}
                {{ form_row(addressing_form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
            </div>
        </div>
        
        <div class="col-md-6 hidden address-container" id="sylius-billing-address-container">
            <div class="well">
                <h4>{{ 'acme.order.billing_address'|trans }}</h4>
                {% include 'SyliusWebBundle:Frontend/Form:_address.html.twig' with {'form': addressing_form.billingAddress} %}
            </div>
        </div>
    </div>
</fieldset>

{# form_widget(addressing_form) #}

<div class="form-actions">
    <button type="submit" class="btn btn-primary btn-lg">{{ 'acme.inscription.register'|trans }} <i class="icon-chevron-right"></i></button>
</div>

</form>