<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" />
            {% stylesheets output='assets/compiled/frontend.css' filter='cssrewrite'
                'bundles/syliusweb/css/frontend.css'
                'bundles/syliusweb/css/blueimp-gallery.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}

            {# include "CmfCreateBundle::includecssfiles.html.twig" #}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
		<div class="top_bandeau">
			<div class="header">
				{% block header %}
					<div class="masthead pull-left">
					{% if app.user %}
						<ul class="nav nav-pills">
                			<li class="first">        
                				<a href="#">Bienvenue {{ app.user.username }}</a>
    						</li>
    					</ul>
    				{% endif %}
						{{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:login_register_menu.html.twig'}) }}
					</div>
					
					<div class="masthead pull-right cartmenu">
						{{ knp_menu_render('sylius.frontend.cart', {'template': 'SyliusWebBundle::menu.html.twig'}) }}
					</div>
					{#
					<div class="locale-menu masthead pull-right">
						{{ knp_menu_render('sylius.frontend.locale', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					
					<div class="currency-menu masthead pull-right">
						{{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
					</div>
					#}
					<div class="clearfix"></div>
				{% endblock %}
			</div>
			<div class="header_bg">
			<div class="header_logo">
				
				{% block header_logo %}
<br>
					<a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><img src="{{ asset('bundles/syliusweb/img/logo.png') }}" width=250 height=75 class="swan" /></span></a>
				{% endblock %}
				{% block flashes %}
		            {% for type in ['success', 'error', 'fos_user_success', 'notice'] %}
		                {% for flash in app.session.flashbag.get(type) %}
		                    <div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
		                        <a class="close" data-dismiss="alert" href="#">×</a>
		                        {{ flash|trans }}
		                    </div>
		                {% endfor %}
		            {% endfor %}
		        {% endblock %}
			</div>
			
			<div class="container" id="container_header">
							<nav id="myNavbar" class="navbar navbar-default" role="navigation">
						        <!-- Brand and toggle get grouped for better mobile display -->
						        <div class="container">
						            <div class="navbar-header">
						                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						                    <span class="sr-only">Toggle navigation</span>
						                    <span class="icon-bar"></span>
						                    <span class="icon-bar"></span>
						                    <span class="icon-bar"></span>
						                </button>
						                <a id="navbar-brand-id" class="navbar-brand glyphicon glyphicon-home" href="/"></a>
						            </div>
						            <!-- Collect the nav links, forms, and other content for toggling -->
						            <div class="collapse navbar-collapse row nopadding" id="bs-example-navbar-collapse-1">
						                <ul id="mainMenu" class="nav navbar-nav col-md-6 nopadding">
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.rayons'|trans }} <b class="caret"></b></a>
						                        {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
						                    </li>
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.topic'|trans }} <b class="caret"></b></a>
						                        {{ knp_menu_render('sylius.frontend.topic', {'template': 'SyliusWebBundle:Frontend:menu_topic.html.twig'}) }}
						                    </li>
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.promotion'|trans }} <b class="caret"></b></a>
						                        {{ knp_menu_render('sylius.frontend.promotions', {'template': 'SyliusWebBundle:Frontend:menu_promo.html.twig'}) }}
						                    </li>
						                    <li class="dropdown">
						                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ 'sylius.frontend.menu.main.magasin'|trans }} </a>
						                        
						                    </li>
						                </ul>
						                <ul class="nav navbar-nav navbar-right col-md-5 nopadding">
						                    <li class="nofloat">
                    							{% render controller('sylius.controller.search:formAction', {'request':app.request}) %}
						                    </li>
						                    
						                </ul>
						            </div><!-- /.navbar-collapse -->
						        </div>
						    </nav>
			</div>
			</div>
		</div>
		{% block centercontrainer %}
		
		{% endblock %}
        
        {% block gallery %}
            {# Gallery modal #}
            {% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %}
		{# Product modal #}
        {% include 'SyliusWebBundle::product-modal.html.twig' %}

        {# Confirmation modal #}
        {% include 'SyliusWebBundle::confirm-modal.html.twig' %}
        
        {# Creneau modal #}
        {% include 'SyliusWebBundle::creneau-modal.html.twig' %}
        
        {# Login modal #}
        {% include 'SyliusWebBundle::login-modal.html.twig' %}
        
        {# Register modal #}
        {% include 'SyliusWebBundle::register-modal.html.twig' %}

        {% block footer %}
        
            <div class="footer" style="background:#fff;">
            <div id="footer_barre"></div>
            
            	<div class="container" style="background:#fff;">
        			<div class="row" style="background:#fff;">
            			<div class="col-md-3" style="background:#fff;height:150px;">
            				<h3><span class="glyphicon glyphicon-map-marker"></span> {{ 'sylius.frontend.footer.societe'|trans }}</h3>
							<p>Adresse xxx xxx xxx xxx xxxx</p><br>
            				{{ knp_menu_render({'name': '/cms/menus/SuperAsia'}) }}
            			</div>
            			<div class="col-md-3" style="background:#fff;height:150px;">
            				<h3><span class="glyphicon glyphicon-lock"></span> {{ 'sylius.frontend.footer.security'|trans }}</h3>
            				<p>{{ 'sylius.frontend.footer.s_description'|trans }}</p>
            				<div class="row">
            					<div class="col-md-3">
            						<img src="{{ asset('bundles/syliusweb/img/visa.png') }}" />
            					</div>
            					<div class="col-md-3">
            						<img src="{{ asset('bundles/syliusweb/img/mastercard.png') }}" />
            					</div>
            					<div class="col-md-3">
            						<img src="{{ asset('bundles/syliusweb/img/paypal.png') }}" />
            					</div>
            					<div class="col-md-3">
            						<img src="{{ asset('bundles/syliusweb/img/CreditAgricole.png') }}" />
            					</div>
            				</div>
            			</div>
            			<div class="col-md-3" style="background:#fff;height:150px;">
            				<h3><span class="glyphicon glyphicon-time"></span> {{ 'sylius.frontend.footer.livraison'|trans }}</h3>
            				
            			</div>
            			<div class="col-md-3" style="background:#fff;height:150px;">
            				<h3><span class="glyphicon glyphicon-comment"></span> {{ 'sylius.frontend.footer.aide'|trans }}</h3>
            			</div>
            		</div>
            	</div>
                {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
            </div>
        {% endblock %}
        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            
        {% javascripts output='assets/compiled/frontend.js'
            'bundles/syliusweb/js/jquery.blueimp-gallery.min.js'
            'bundles/syliusweb/js/confirm-modal.js'
            'bundles/syliusweb/js/frontend.js'
            'bundles/syliusweb/js/province-choices.js'
            'bundles/syliusweb/js/jquery.elevatezoom.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
{# 
        {% render(controller(
            "cmf_create.jsloader.controller:includeJSFilesAction",
            {'_locale': app.request.locale, 'editor': 'hallo'}
        )) %}
#}
        {% endblock %}
        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1494198420840742',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    </body>
</html>
