
{% macro attributes(attributes) %}
	{% for name, value in attributes %}
	    {%- if value is not none and value is not sameas(false) -%}
	        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
	    {%- endif -%}
	{%- endfor -%}
{% endmacro %}



{% block root %}
	{% set listAttributes = item.childrenAttributes %}
	{{ block('list') -}}
{% endblock %}

{% block list %}
	{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren and item.getExtra('self') == ''%}
	    <ul{{ _self.attributes(listAttributes) }}>
	        {{ block('children') }}
	    </ul>
	{% endif %}
{% endblock %}

{% block div_content %}
	{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
	    <div{{ _self.attributes(listAttributes) }}>
	        {{ block('div_children') }}
	    </div>
	{% endif %}
{% endblock %}

{% block children %}
	{# save current variables #}
	{% set currentOptions = options %}
	{% set currentItem = item %}
	
	{# update the depth for children #}
	{% if options.depth is not none %}
		{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
	{% endif %}
	
	{% for item in currentItem.children %}
	    {{ block('item') }}
	{% endfor %}
	
	{# restore current variables #}
	{% set item = currentItem %}
	{% set options = currentOptions %}
{% endblock %}

{% block div_children %}
	{# save current variables #}
	{% set currentOptions = options %}
	{% set currentItem = item %}
	
	{# update the depth for children #}
	{% if options.depth is not none %}
		{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
	{% endif %}
	{% set itemsArray = [] %}
	
		{% for item in currentItem.children %}
			{% if item.getExtra('parent') not in itemsArray %}
			    {% set itemsArray = itemsArray|merge([(item.getExtra('parent'))]) %}
			{% endif %}
		{% endfor %}
		
		{% for i in itemsArray %}
			{% if loop.index0 == 0 %}
				{% set etat = 'active' %}
			{% else %}
				{% set etat = '' %}
			{% endif %}
			<div id="taxon_{{i}}" role="tabpanel" class="tab-pane {{etat}}">
				{% for item in currentItem.children %}
					{% if item.getExtra('parent') == i %}
						{{ block('div_item') }}
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	
	{# restore current variables #}
	{% set item = currentItem %}
	{% set options = currentOptions %}
{% endblock %}

{% block item %}
	{% if item.displayed %}
	{# building the class of the item #}
	    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
	    
	    {%- if item.current %}
	        {%- set classes = classes|merge([options.currentClass]) %}
	    {%- elseif item.currentAncestor %}
	        {%- set classes = classes|merge([options.ancestorClass]) %}
	    {%- endif %}
	    
	    {%- if item.actsLikeFirst %}
	    	{%- if item.level != 1 %}
	    		{%- set classes = classes|merge([options.firstClass ~ ' active']) %}
	    	{%- else %}
	        	{%- set classes = classes|merge([options.firstClass]) %}   
	        {%- endif %}
	    {%- endif %}
	    
	    {%- if item.actsLikeLast %}
	        {%- set classes = classes|merge([options.lastClass]) %}
	    {%- endif %}
	    
	    {%- set attributes = item.attributes %}
	    {%- if classes is not empty %}
	        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
	    {%- endif %}
	    
	    {%- if item.level != 1 %}
	    	{%- set attributes = attributes|merge({'role': 'presentation' }) %}
        {%- endif %}
		{# displaying the item #}
	    <li{{ _self.attributes(attributes) }}>
		    {%- if item.level != 1 %}
		        {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
		        	{{ block('linkElement') }}
		        {%- else %}
		        	{{ block('labelElement') }}
		        {%- endif %}
		    {%- endif %}    
			{# render the list of children#}
	        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
	        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
	        {%- if item.label ==  'sub_child' %}
	        	{%- set childrenClasses = childrenClasses|merge(['tab-content']) %}
	        {%- endif %}
	        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
	        {%- if item.label ==  'child' %}
	        	{%- set listAttributes = listAttributes|merge({'role': 'tablist' }) %}
	        {%- endif %}
	        {%- if item.label ==  'sub_child' %}
	        	{{ block('div_content') }}
	        {%- else %}
	        	{% if item.hasChildren %}
			        <div class="panel panel-info">
							  <div class="panel-heading">
							    <h2 class="panel-title"> {{ 'sylius.frontend.menu.sous_topic.title'|trans }}</h2>
							  </div>
							  <div class="panel-body">
			        			{{ block('list') }}
			        		  </div>
			        </div>
			    {%- endif %}
	        {%- endif %}
	    </li>
	{% endif %}
{% endblock %}

{% block div_item %}
	{% if item.displayed %}
	{# building the class of the item #}
	    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
	    
	    {%- if item.current %}
	        {%- set classes = classes|merge([options.currentClass]) %}
	    {%- elseif item.currentAncestor %}
	        {%- set classes = classes|merge([options.ancestorClass]) %}
	    {%- endif %}
	    
	    {%- if item.actsLikeFirst %}
	        {%- set classes = classes|merge([options.firstClass]) %}
	    {%- endif %}
	    
	    {%- if item.actsLikeLast %}
	        {%- set classes = classes|merge([options.lastClass]) %}
	    {%- endif %}
	    
	    
	    {%- set attributes = item.attributes %}
	    {%- if classes is not empty %}
	        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
	    {%- endif %}
	    
		{# displaying the item #}
	    <div{{ _self.attributes(attributes) }}>
		    {%- if item.level != 1 %}
		        {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
		        	{%- if item.getExtra('parent') != '' %}
		        		{{ block('divlinkElement') }}
		        	{%- else %}
		        		{{ block('linkElement') }}
		        	{%- endif %}
		        {%- else %}
		        	{{ block('labelElement') }}
		        {%- endif %}
		    {%- endif %}    
			{# render the list of children#}
	        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
	        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level])|merge(['tab-content']) %}
	        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
	        {{ block('div_centent') }}
	    </div>
	{% endif %}
{% endblock %}

{% block linkElement %}<a href="{{ item.uri }}#taxon_{{item.getExtra('self')}}"{{ _self.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}

{% block divlinkElement %}<a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>{% if item.labelAttribute('data-image') %}<img src="/media/image/{{ item.labelAttribute('data-image')}}" alt="{{ item.name }}" class="menu-thumbnail"/>{% endif %}</a>{% endblock %}

{% block spanElement %}<span{{ _self.attributes(item.labelAttributes) }}>{{ block('label') }}</span>{% endblock %}

{% block labelElement %}
	
	{# <label{{ _self.attributes(item.labelAttributes) }}>{{ block('label') }}</label> #}
	<a href="#taxon_{{item.getExtra('self')}}" role="tab" data-toggle="tab">{{ item.label|raw }}</a>

{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}
{% block labelimage %}
   {% if item.labelAttribute('text') %}{{ item.labelAttribute('text') }}{% endif %}
    {% if not item.labelAttribute('iconOnly') %}
        {% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|trans|raw }}{% else %}{{ item.label|trans }}{% endif %}
    {% endif %}
    
    {% if item.labelAttribute('cart_item_count')  %}
        <br><span id="cart_items_span" style="line-height:2;">{{ item.labelAttribute('cart_item_count') }} 
    {% endif %}
    
    {% if item.labelAttribute('cart_total_amount') %}
    	| <span id="cart_total_amount">{{ item.labelAttribute('cart_total_amount') }}</span></span>
    {% endif %}
    
    
    {% if item.labelAttribute('data-image') %}<img src="/media/image/{{ item.labelAttribute('data-image')}}" alt="{{ item.name }}" class="menu-thumbnail"/>{% endif %}
{% endblock %}