{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<a href="{{ path('sylius_recette')}}" class="">
<button type="button" class="btn btn-default pull-right">{{ 'sylius.recette.retour'|trans }}</button>
</a>
<div class="row">
    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <img src="/media/image/{{recette.path}}" alt="{{ recette.name }}" />
        </a>
    </div>
    <div class="col-md-9">
        <h3>{{ recette.name }}</h3> 
        
        <p class="glyphicon glyphicon-user">    {{ recette.nbPersonnes }} {{ 'sylius.frontend.homepage.people'|trans }}</p><br>
        <p class="glyphicon glyphicon-tag">    {{ recette.typeCuisine }}</p><br>
	    <p class="glyphicon glyphicon-time">    {{ recette.preparation }} {{ 'sylius.frontend.homepage.preparation'|trans }}, {{ recette.cuisson }} {{ 'sylius.frontend.homepage.cuisson'|trans }}</p><br>
	    <p>
	    	{% for i in (1..recette.difficulte) %}
	    		<span class="glyphicon glyphicon-star"></span>
	    	{% endfor %}
	    	{% if(recette.difficulte != 5) %}
	    		{% for i in (1..(5-recette.difficulte)) %}
		    		<span class="glyphicon glyphicon-star-empty"></span>
		    	{% endfor %}
	    	{% endif %}
	    	{{ 'sylius.frontend.homepage.difficulte'|trans }} : {{ recette.difficulte|truncate(20) }} / 5
	    
	    </p>
	    
	    
    </div>
</div>

<h2 class="title"><span class='glyphicon glyphicon-th'></span> {{ 'sylius.recette.banteau_1'|trans }}</h2>
<div class="row">
    <div class="col-md-12">
        {% if recette.products|length > 0 %}
        	{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}
			{{ grid(recette.products) }}
        {% endif %}
    </div>
</div>

<h2 class="title"><span class='glyphicon glyphicon-glass'></span> {{ 'sylius.recette.banteau_2'|trans }}</h2>
<p>{{ recette.description }}</p>
{% endblock %}
    