{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-3">
        <a href="{# path(recette) #}" class="thumbnail">
            <img src="/media/image/{{recette.path}}" alt="{{ recette.name }}" />
        </a>
    </div>
    <div class="col-md-9">
        <a href="{# path(recette) #}" class="btn btn-link"><h3>{{ recette.name }}</h3></a>
        <p>{{ recette.short_description|default('sylius.product.no_description')|trans|raw }}</p>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-12">
        {% if recette.products|length > 0 %}
        	{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import grid %}
			{{ grid(recette.products) }}
        {% endif %}
    </div>
</div>
<hr>
{% endblock %}
    